* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  color: #8e44ad;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/719/114/325/anime-naruto-itachi-uchiha-wallpaper-79b0d83d515a7d6b16f7a8efd0c1763d.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#main {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
  body img(
    
  ) */
h1 {
  font-size: 8em;
  font-weight: 900;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
h2{ 
    background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

/* effect after click */

.click_effect {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 5px solid #e91e63;
  pointer-events: none;
  margin-top: -45px;
  margin-left: -45px;
  opacity: 0;
  border-radius: 50%;
  animation-name: click_animation;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
@keyframes click_animation {
  /* You can do it in two ways */
  /* First */

  /* from{
        opacity: 1;
        transform: scale(0);
    }
    to{
        opacity: 0;
        transform: scale(1);
    } */

  /* Second */
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  10% {
    opacity: 1;
    transform: scale(0.2);
  }
  20% {
    opacity: 1;
    transform: scale(0.3);
  }
  30% {
    opacity: 1;
    transform: scale(0.4);
  }
  40% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.6);
  }
  60% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  70% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  80% {
    opacity: 0.1;
    transform: scale(0.9);
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* for moving mouse cursor */
.follower {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0;
  animation-name: follower_animation;
  animation-duration: 0.8s;
}
@keyframes follower_animation {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
